@model LibApp.Models.Book

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var book = ViewData["Book"] as Book;
    var book = ViewBag.Book as Book;
}

@*Use for direct model passing from the controller*@
@*<h2>@Model.Title</h2>*@ 

@*Use for ViewData or ViewBag*@
<h2>@book.Title</h2>