@model IEnumerable<LibApp.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* jQuery tutorial - https://www.impressivewebs.com/jquery-tutorial-for-beginners/*@

<h2>Customers</h2>
<a class="btn btn-primary" asp-action="New">New Customer</a>

@if (!Model.Any())
{
    <p>There are no customers yet.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr><th colspan="1">Customer</th>
                <th colspan="1">Discount Rate</th>
                <th colspan="1"></th>
                <th colspan="1"></th>
                </tr>
            <tr></tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => customer.Name)</td>
                    <td>@Html.DisplayFor(modelItem => customer.MembershipType.DiscountRate)</td>
                    <td><a asp-action="Edit" asp-route-id="@customer.Id">Edit</a></td>
                    <td><a asp-action="Details" asp-route-id="@customer.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}
